services:
  php:
    build:
      context: .
      dockerfile: docker/php/Dockerfile
    container_name: symfony_php
    working_dir: /var/www/html
    user: "1000:1000"
    volumes:
      - ./:/var/www/html
      - ./docker/php/php.ini:/usr/local/etc/php/conf.d/custom.ini
    environment:
      - DATABASE_URL=postgresql://symfony:symfony@postgres:5432/symfony_db?serverVersion=16&charset=utf8
      - MESSENGER_TRANSPORT_DSN=redis://redis:6379/messages
    depends_on:
      - postgres
      - redis
    networks:
      - symfony_network

  nginx:
    image: nginx:alpine
    container_name: symfony_nginx
    restart: on-failure
    ports:
      - "8090:80"
    volumes:
      - ./:/var/www/html
      - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - php
    networks:
      - symfony_network

  postgres:
    image: postgres:16-alpine
    container_name: symfony_postgres
    environment:
      POSTGRES_DB: symfony_db
      POSTGRES_USER: symfony
      POSTGRES_PASSWORD: symfony
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - symfony_network

  redis:
    image: redis:7-alpine
    container_name: symfony_redis
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    networks:
      - symfony_network

volumes:
  postgres_data:
  redis_data:

networks:
  symfony_network:
    driver: bridge
