includes:
    - vendor/phpstan/phpstan-strict-rules/rules.neon
    - vendor/phpstan/phpstan-deprecation-rules/rules.neon

parameters:
    level: 8
    paths:
        - src
        - tests
    excludePaths:
        - var
        - vendor
    reportUnmatchedIgnoredErrors: false
    ignoreErrors:
        -
            message: '#^Dynamic call to static method PHPUnit\\Framework\\Assert::#'
            path: tests/*
        -
            message: '#^Property .+::\$id is never written, only read\.$#'
            path: src/Infrastructure/Persistence/*
